* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#users-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  padding: 5px;
}

.user {
  min-width: 50px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:2px solid black;
}

.user-dp{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}